<h1>
	 Search for a movie!!
</h1>

<!-- Submit form to results route  -->
<form action="/results" method="GET">
	<input type='text' name='newMovie' placeholder='searchMovie'> 
	<input type='submit'>	 
</form>