<% include partials/header %>

<div class="container w-50">
	<h1> <%= campground.name %> </h1>
	<img class="figure" src="<%=campground.image%>">
	<p>
		<%= campground.description %>
	</p>
</div>
<% include partials/footer %>